<%=@game.player1.show_name%> vs. <%=@game.player2.show_name%>
<br>
<br>
<%=@game.player1.show_name%>  : <%=@game.player1.get_score%>HP
<br>
<%=@game.player2.show_name%>  : <%=@game.player2.get_score%>HP
<br>
<a href="/attack">Attack</a>
