<%=$player1.show_name%> vs. <%=$player2.show_name%>
<br>
<br>
<%=$player2.show_name%>: <%=$player2.show_score%>HP
<br>
<%=$player1.show_name%>: <%=$player1.show_score%>HP
<br>
<a href="/attack">Attack</a>
